body
  background-color: $color-background
  color: $color-main

  font-family: 'Open Sans', sans-serif
  font-weight: 300
  font-size: 13px

strong
  font-weight: 600

.wrapper
  background-color: $color-base
  width: 100%
  +laptop
    width: calc(100% - 100px)
    margin: 0 50px
    box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.75)
  +desktop
    width: calc(100% - 200px)
    margin: 0 100px

.shadow
  position: fixed
  top: 0
  width: 100%
  height: 100vh
  background: black
  opacity: 0.8
  z-index: 1040
  display: none

header
  position: fixed
  top: 0
  left: -320px
  z-index: 1050
  width: 260px
  height: 100vh
  background: $color-base
  box-shadow: 6px 0px 20px -2px rgba(0,0,0,0.75)    
  display: block
  overflow: auto
  -webkit-overflow-scrolling: touch
  -ms-overflow-style: none
  +laptop
    left: 50px!important
  +desktop
    left: 100px!important

// menu logo - FIXED

.menu_logo
  position: fixed
  width: 260px
  height: 120px
  display: none
  background-color: $color-base
  +laptop
    display: flex
  .logo
    display: block
    margin: 40px auto

// /menu logo

//// sidebar-menu

header
  .sidebar_menu
    margin-top: 120px

// menu profile quick info

.profile
  display: flex
  flex-direction: row
  +laptop
    display: none

  .profile_img
    height: 50px
    width: 50px
    margin: 15px
    padding: 2px
    border: 1px solid rgba(52, 73, 94, 0.44)
    background: #fff

  .profile_info
    display: flex
    flex-direction: column
    margin: 15px

    span 
      font-size: 13px
      line-height: 30px
      color: #BAB8B8

    h2 
      font-size: 14px
      color: #ECF0F1
      margin: 0
      font-weight: 300

// /menu profile quick info

// menu section

#main_menu
  display: flex
  flex-direction: column

  .item    
    height: 40px
    width: 100%
    line-height: 40px
    margin: 0
    padding: 0
    display: flex
    align-content: space-around

    a
      color: $color-main
      font-size: 14px
      text-decoration: none
      width: 100%

  .item_dropdown
    background: $color-base
  .item_dropdown>a.collapsed>.menu_icon_dropdown
    transform-origin: center
    transform: rotate(180deg)

  .item_group>.collapse
    background: rgba(0, 0, 0, 0.15)

  .menu_icon
    font-size: 20px
    margin: 10px

  .menu_icon_dropdown
    font-size: 12px
    margin: 10px
    float: right

  .item
    &:hover
      background-color: rgba(0, 0, 0, 0.15)

  li, ul
    list-style-type: none
    -webkit-padding-start: 0

  .active
    border-left: 3px solid red

// /menu_section

//// sidebar-menu

// open+close menu button

.open_btn
  padding: 20px
  font-size: 20px
  line-height: 20px
  height: 60px 
  display: block

.close_btn
  color: $color-second
  position: fixed
  top: 0
  left: 260px
  padding: 20px
  font-size: 20px
  line-height: 20px
  height: 60px
  display: none

// /open+close menu button


  




// side-menu

// menu section

#main_menu
  display: flex
  flex-direction: column

  .item
    .active
      color: #3c763d !important
      background-color: #dff0d8 !important
      border-color: #d6e9c6 !important


// /side-menu